services:
  postgres:
    image: postgis/postgis:17-3.4
    container_name: am_postgres 
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U postgres -d ${POSTGRES_DB:-app}",
        ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - app_network

  # redis:
  #   image: redis:8.2.2-alpine
  #   container_name: am_redis
  #   restart: unless-stopped 
  #   ports:
  #     - "6379:6379"
  #   command: >
  #     redis-server
  #     --save 60 1
  #     --loglevel warning
  #     --maxmemory 256mb
  #     --maxmemory-policy allkeys-lru
  #   volumes:
  #     - redis_data:/data
  #   healthcheck:
  #     test: ["CMD", "redis-cli", "ping"]
  #     interval: 10s
  #     timeout: 3s
  #     retries: 5
  #     start_period: 5s
  #   networks:
  #     - app_network

  s3:
    image: minio/minio:RELEASE.2025-07-23T15-54-02Z
    container_name: am_s3
    restart: unless-stopped
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    command: server /data --console-address ":9001"
    volumes:
      - s3_data:/data
    healthcheck:
      test: ["CMD", "mc", "ready", "local"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  postgres_data:
    driver: local
  redis_data:
    driver: local
  s3_data:
    driver: local
