# auth_client.model.Verification

## Load the model package
```dart
import 'package:auth_client/api.dart';
```

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**id** | **String** |  | [optional] 
**identifier** | **String** |  | 
**value** | **String** |  | 
**expiresAt** | **String** |  | 
**createdAt** | **String** |  | [default to 'Generated at runtime']
**updatedAt** | **String** |  | [default to 'Generated at runtime']

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)


